*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #181818;
    padding: 24px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.logo{
    display: inline-block;
    margin: 6px 0;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    margin-left: 32px;
}

header nav ul{
    list-style: none;
}

header nav ul li:first-of-type{
    margin-right: 24px;

}

header nav ul li:first-of-type a{
    font-size: 13px;
}

header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    padding:9px 20px;
    font-size: 16px;
    color: #000000;
}

header nav ul a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF
}

.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 87vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}

.main_banner .container{
    margin: inherit;
}

.main_banner h3{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.main_banner p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width:580px;
    margin: auto;
}

.list_item{
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.list_item li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.list_item li:before{
    content: "";
    display: inline-block;
    background-image: url("/images/icon1.svg");
    margin-right: 6px;
    width: 16px;
    height:16px;
    position: relative;
    top: 6px;
}

.list_item li:nth-child(2):before{
    background-image: url("/images/icon2.svg");
}

.list_item li:nth-child(3):before{
    background-image: url("/images/icon3.svg");
    margin-right: 7px;
    width: 32px;
}

.list_item li:last-of-type:before{
    background-image: url("/images/icon4.svg");
    margin-right: 5px;
    width: 10px;
}

/* section_2*/

.what_we_do{
    background-color: black;
    padding-top: 112px;
    padding-bottom: 108px;
}

.what_we_do .container{
    max-width: 1168px;
}

.text_center{
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.what_we_do h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}

.what_we_do p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}

.what_we_do .item{
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do .item img{
    display: block;
    width: 100%;
}

.what_we_do .item .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.description a{
    display:inline-flex;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    transition: 0.3s;
}

.description a:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}

.description a:hover{
    background: #000;
    color: #fff;
}

.description a:hover:before{
    background-color: #fff;
}

 /*section_3*/

.fuji{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}

.fuji .container{
    max-width: 298px;
    margin: inherit;
    margin-right: 62px;
}

.fuji .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.fuji .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*section_4*/

.leafs{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}

.leafs .container{
    max-width: 273px;
    margin: inherit;
    margin-right: 87px;
}

.leafs .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.leafs .container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/* section_5*/

.clients_container{
    background-color: black;
    background-size: cover;
    padding-top: 113px;
    padding-bottom: 140px;
}

.clients_container .container{
    max-width: 1168px;
}

.clients_container h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}

.clients_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 110px;
}


.container_logo{
    max-width: 128px;
}
.container_logo img{
    display: block;
    width: 100%;
}

.container_logo a {
    display: inline-block;
}
/*section_6*/

.star_fall{
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}

.star_fall .container{
    max-width: 260px;
    margin: inherit;
    margin-right: 119px;
}

.star_fall .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.star_fall .container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*section_7*/

.need_help{
    background-color: black;
    background-size: cover;
    padding-top: 213px;
    padding-bottom: 108px;
}

.need_help .container{
    max-width: 600px;
}

.need_help h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.need_help p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.need_help a{
    display:inline-flex;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    transition: 0.3s;
    margin: 10px 223px 0;
}

.need_help a:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}

.need_help a:hover{
    background: #000;
    color: #fff;
}

.need_help a:hover:before{
    background-color: #fff;
}

/* footer */

.footer_container{
    background-color: black;
    padding-top: 104px;
    padding-bottom: 100px;
    color: #FFFFFF;
}

.footer_container .logo{
    margin-bottom: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.logo_text{
    max-width: 458px;
}

.footer_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.list_footer{
    margin-bottom: 36px;
}

.areas{
    margin-right: 55px;
}

.pages{
    margin-right: 102px;
}

.list_footer h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 10px;
}

.list_footer ul li{
    margin-bottom: 10px;
    list-style: none;
}

.list_footer ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.list_flex{
    display: flex;
    align-content: flex-end;
}

hr {
    color: #FFFFFF;
    margin-bottom: 36px;
}

.footer_container .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_container .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 36px;
}

.text_search{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.text_search form{
    width: 459px;
    height: 53px;
    box-sizing: border-box;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 7px 10px 7px 7px;
}

.search{
    margin-right: 6px;
}

.search input{
    width: 376px;
    height: 35px;
    border: none;
    background: none;
}


.submit input{
    background: #000000;
    border-radius: 11px;
    width: 63px;
    height: 37px;
    border: none;
}

